ul {
    list-style-type: none;
    text-align: right;
    margin-top: -70px;
    padding: 0;
  }
  .city {
    color: rgb(17, 41, 151);
  }
  li,
  .components,
  p {
    color: #686565;
  }
  .icon {
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
  }
  .temp {
    color: rgb(17, 41, 151);
    font-size: 50px;
    font-weight: 450;
    position: relative;
    left: 70px;
    bottom: 60px;
  }
  .components {
    position: relative;
    top: 38px;
  }
  .units {
    font-weight: 500;
    position: relative;
    bottom: 80px;
    left: 70px;
    text-decoration: none;
    font-size: 18px;
  }
  #celsius-link:hover,
  #fahrenheit-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  