ul {
    list-style-type: none;
    text-align: right;
    margin-top: -70px;
    padding: 0;
  }
  .city {
    color: rgb(0, 110, 197);
  }
  li,
  .components,
  p {
    color: grey;
  }
  .weather-temperature img {
    height: 54px;
    width: 50px;
    position: relative;
    bottom: 12px;
    left: 10px;
  }
  .temp {
    color: rgb(66, 165, 245);
    font-size: 50px;
    font-weight: 450;
    position: relative;
    left: 20px;
  }
  .components {
    position: relative;
    top: 38px;
  }
  .units {
    position: relative;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 18px;
  }
  #celsius-link:hover,
  #fahrenheit-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  